[submodule "account_aux_report"]
	path = account_aux_report
	url = git@github.com:mailynC/account_aux_report.git
	branch = master

[submodule "journal_entry_prodigia"]
	path = journal_entry_prodigia
	url = git@github.com:mailynC/journal_entry_prodigia.git
	branch = 12.0

[submodule "warehouse_req"]
	path = warehouse_req
	url = git@github.com:mailynC/warehouse_req.git
	branch = master

[submodule "prodigia-unique-no-series"]
	path = prodigia-unique-no-series
	url = git@github.com:mailynC/prodigia-unique-no-series.git
	branch = master

[submodule "kardex"]
	path = kardex
	url = git@github.com:mailynC/kardex.git
	branch = 12.0

[submodule "prodigia_xml_to_invoice"]
	path = prodigia_xml_to_invoice
	url = git@github.com:mailynC/prodigia_xml_to_invoice.git
	branch = 12.0
